/dist
/build
src/stko.egg-info
src/stko/_version.py
/.coverage
docs/source/_autosummary

**/__pycache__/

**/.cache
.mypy_cache
*.ipynb_checkpoints
**/.vscode

# Some folders get created by tests.
**/tests_output
docs/build
tests/failures.txt

/examples/gulp_test_output/
/examples/gulp_test_output_MD/