name: Tests
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
jobs:
  ruff:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "pip"
      - run: "pip install '.[dev]'"
      - run: ruff check .
  mypy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "pip"
      - run: "pip install -e '.[dev]'"
      - run: mypy src examples
  ruff-format:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "pip"
      - run: "pip install -e '.[dev]'"
      - run: ruff format --check .
  pytest:
    # https://ericmjl.github.io/blog/2021/12/30/better-conda-environments-on-github-actions/
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          miniforge-variant: Mambaforge
          channels: conda-forge,defaults
          python-version: 3.11
          activate-environment: pytest
          use-mamba: true
      - name: Build environment
        run: |
          conda activate pytest
          conda install -c conda-forge openff-toolkit openmm openmmtools
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools
          python -m pip install -e '.[dev]'
      - run: pytest
  doctest:
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          miniforge-variant: Mambaforge
          channels: conda-forge,defaults
          python-version: 3.11
          activate-environment: pytest
          use-mamba: true
      - name: Build environment
        run: |
          conda activate pytest
          conda install -c conda-forge openff-toolkit openmm openmmtools
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools
          python -m pip install -e '.[dev]'
      - run: make -C docs doctest
